@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center text-danger">
    <h1 class="display-3">Access Denied!</h1>
    <p class=" h2 font-weight-normal p-5">401 - Unauthorized!</p>
</div>