@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome to Rent-A-Car</h1>
    <p class=" h3 font-weight-normal p-5">Get around the city with a car of your choice!</p>
    <a class="btn btn-primary w-25" asp-action="Display" asp-controller="Renting">Explore</a>
</div>